#content {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 50px 30px;
    padding: 0 15px;
}

.card {
    height: auto;
    text-align: center;
    border: 2px solid grey;
    padding: 10px;
    border-radius: 5px;
}

.card.title {
    text-align: center;
}

.hidden {
    display: none;
}